In [4]:
import pandas as pd
from pathlib import Path
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
import numpy as np
import torch
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score

ModuleNotFoundError: No module named 'torch'

In [3]:
sales_df = pd.read_csv(Path('../Resources/WMT_Weekly_Sales_rev.csv'))
sales_df.head()

,Store,Date,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,CPI,Unemployment,Rev_Date,index_id,Month,Year,Week
0,1,5/2/2010,1643690.90,0,42.31,2.572,211.096358,8.106,5/2/2010,1-2010-05-02,5,2010,17
1,1,12/2/2010,1641957.44,1,38.51,2.548,211.242170,8.106,12/2/2010,1-2010-12-02,12,2010,48
2,1,2/19/2010,1611968.17,0,39.93,2.514,211.289143,8.106,2/19/2010,1-2010-02-19,2,2010,7
3,1,2/26/2010,1409727.59,0,46.63,2.561,211.319643,8.106,2/26/2010,1-2010-02-26,2,2010,8
4,1,5/3/2010,1554806.68,0,46.50,2.625,211.350143,8.106,5/3/2010,1-2010-05-03,5,2010,18