In [1]:
# Import our dependencies
import pandas as pd
from pathlib import Path
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
import numpy as np
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import OneHotEncoder
import tensorflow as tf

In [2]:
sales_df = pd.read_csv(Path('../Resources/WMT_Weekly_Sales_rev.csv'))
sales_df.head()

,Store,Date,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,CPI,Unemployment,Rev_Date,index_id,Month,Year,Week
0,1,5/2/2010,1643690.90,0,42.31,2.572,211.096358,8.106,5/2/2010,1-2010-05-02,5,2010,17
1,1,12/2/2010,1641957.44,1,38.51,2.548,211.242170,8.106,12/2/2010,1-2010-12-02,12,2010,48
2,1,2/19/2010,1611968.17,0,39.93,2.514,211.289143,8.106,2/19/2010,1-2010-02-19,2,2010,7
3,1,2/26/2010,1409727.59,0,46.63,2.561,211.319643,8.106,2/26/2010,1-2010-02-26,2,2010,8
4,1,5/3/2010,1554806.68,0,46.50,2.625,211.350143,8.106,5/3/2010,1-2010-05-03,5,2010,18

In [3]:
sales_df.dtypes

Store             int64
Date             object
Weekly_Sales    float64
Holiday_Flag      int64
Temperature     float64
Fuel_Price      float64
CPI             float64
Unemployment    float64
Rev_Date         object
index_id         object
Month             int64
Year              int64
Week              int64
dtype: object

In [4]:
y = sales_df["Weekly_Sales"]
X = sales_df.drop(columns=["Weekly_Sales","Date","Rev_Date","index_id"])

In [5]:
X.head()

,Store,Holiday_Flag,Temperature,Fuel_Price,CPI,Unemployment,Month,Year,Week
0,1,0,42.31,2.572,211.096358,8.106,5,2010,17
1,1,1,38.51,2.548,211.242170,8.106,12,2010,48
2,1,0,39.93,2.514,211.289143,8.106,2,2010,7
3,1,0,46.63,2.561,211.319643,8.106,2,2010,8
4,1,0,46.50,2.625,211.350143,8.106,5,2010,18

In [6]:
y

0       1643690.90
1       1641957.44
2       1611968.17
3       1409727.59
4       1554806.68
           ...
6430     713173.95
6431     733455.07
6432     734464.36
6433     718125.53
6434     760281.43
Name: Weekly_Sales, Length: 6435, dtype: float64

In [7]:
len(y)

6435

In [8]:
len(X)

6435

In [9]:
# Split training/test datasets
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=1)

In [10]:
X_train.shape

(4826, 9)

In [11]:
X_test.shape

(1609, 9)

In [12]:
y_train.shape

(4826,)

In [13]:
y_test.shape

(1609,)

In [14]:
# Create a StandardScaler instance
scaler = StandardScaler()

In [15]:
# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

In [16]:
# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [17]:
# Create a random forest regressor.
regr = RandomForestRegressor(n_estimators=100, random_state=0)

In [18]:
# Fitting the model
regr = regr.fit(X_train_scaled, y_train)
regr

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=None, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=100, n_jobs=None, oob_score=False,
                      random_state=0, verbose=0, warm_start=False)

In [19]:
# Evaluate the model
y_pred = regr.predict(X_test_scaled)
print(regr.predict(X_test_scaled))

[1848556.341   473399.4062 1317183.1342 ...  646535.0265  953298.1766
  452513.6974]

In [20]:
# create the dataframe for Prediction and Actual values
predictions = pd.DataFrame({"Prediction": y_pred, "Actual": y_test})
predictions.head(10)

        Prediction      Actual
447   1.848556e+06  1870619.23
2196  4.733994e+05   448391.99
3253  1.317183e+06  1272948.27
2873  7.533122e+05   744969.42
712   3.927448e+05   325345.41
2852  2.113131e+06  2080529.06
1165  4.986450e+05   528832.54
2202  4.875952e+05   457504.35
3140  9.554190e+05   921612.53
2804  2.126777e+06  2135982.79

In [21]:
regr.score(X_test_scaled, y_test)

0.9569921262077471

In [23]:
# calculate rmse
rmse = np.sqrt(mean_squared_error(predictions.Actual, predictions.Prediction))
rmse

118809.7423062449

In [24]:
# calculate mae
mae = mean_absolute_error(predictions.Actual, predictions.Prediction)
mae

65539.96687047854

In [25]:
# calculate r2
r2 = r2_score(predictions.Actual, predictions.Prediction)
r2

0.9569921262077471

In [22]:
regrrrrr.score(X_test_scaled, y_test)

NameError: name 'regrrrrr' is not defined

In [ ]:
len(X_train_scaled[0])

In [ ]:
# Define the model - deep neural net
number_input_features = len(X_train_scaled[0])
hidden_nodes_layer1 =  18
hidden_nodes_layer2 = 12

nn = tf.keras.models.Sequential()

In [ ]:
# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu"))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1))

In [ ]:
# Compile the Sequential model together and customize metrics
optimizer = tf.keras.optimizers.RMSprop(0.001)
nn.compile(loss="mse", optimizer=optimizer, metrics=['mae', 'mse'])

In [ ]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=50)

In [ ]:
# Evaluate the model using the test data
model_loss, model_mae, model_mse = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, MAE: {model_mae}, MSE:{model_mse}")