In [1]:
import json
import pandas as pd
import numpy as np
import re
import psycopg2
from config import db_password
from sqlalchemy import create_engine
import time
from pathlib import Path
import datetime

In [2]:
# Load the data
file_path = Path('./Resources/Walmart_Store_sales.csv')
Wkly_Sales_df = pd.read_csv(file_path)
Wkly_Sales_df.head()

,Store,Date,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,CPI,Unemployment
0,1,05-02-2010,1643690.90,0,42.31,2.572,211.096358,8.106
1,1,12-02-2010,1641957.44,1,38.51,2.548,211.242170,8.106
2,1,19-02-2010,1611968.17,0,39.93,2.514,211.289143,8.106
3,1,26-02-2010,1409727.59,0,46.63,2.561,211.319643,8.106
4,1,05-03-2010,1554806.68,0,46.50,2.625,211.350143,8.106

In [3]:
Wkly_Sales_df.describe()

,Store,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,CPI,Unemployment
count,6435.000000,6.435000e+03,6435.000000,6435.000000,6435.000000,6435.000000,6435.000000
mean,23.000000,1.046965e+06,0.069930,60.663782,3.358607,171.578394,7.999151
std,12.988182,5.643666e+05,0.255049,18.444933,0.459020,39.356712,1.875885
min,1.000000,2.099862e+05,0.000000,-2.060000,2.472000,126.064000,3.879000
25%,12.000000,5.533501e+05,0.000000,47.460000,2.933000,131.735000,6.891000
50%,23.000000,9.607460e+05,0.000000,62.670000,3.445000,182.616521,7.874000
75%,34.000000,1.420159e+06,0.000000,74.940000,3.735000,212.743293,8.622000
max,45.000000,3.818686e+06,1.000000,100.140000,4.468000,227.232807,14.313000

In [4]:
Wkly_Sales_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6435 entries, 0 to 6434
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Store         6435 non-null   int64
 1   Date          6435 non-null   object
 2   Weekly_Sales  6435 non-null   float64
 3   Holiday_Flag  6435 non-null   int64
 4   Temperature   6435 non-null   float64
 5   Fuel_Price    6435 non-null   float64
 6   CPI           6435 non-null   float64
 7   Unemployment  6435 non-null   float64
dtypes: float64(5), int64(2), object(1)
memory usage: 402.3+ KB

# ETL Function

In [19]:
    def clean_sales(Wkly_Sales_df):
        # step 1: Removing columns where 90% of values is null   
        try:
            sales_columns_to_keep = [column for column in Wkly_Sales_df.columns if Wkly_Sales_df[column].isnull().sum() < len(Wkly_Sales_df) * 0.9]
            Rev_wkly_sales_df = Wkly_Sales_df[sales_columns_to_keep]
        except Exception as e:
            print('check error-for Null Columns')
            print(e.message)
        
        #Step 2: Converting date datype from object to date
        try:
            Rev_wkly_sales_df['Date'] = pd.to_datetime(Rev_wkly_sales_df['Date'])
            Rev_wkly_sales_df['Rev_Date'] = pd.to_datetime(Rev_wkly_sales_df['Date'])
        except Exception as e:
            print('check error-for Parse Date converstion')   
            print(e.message)
        
        #3 try to concatenate two columns for unique id - store and date then remove duplicates
        try:
            Rev_wkly_sales_df['index_id'] = Rev_wkly_sales_df['Store'].astype(str)+'-'+ Rev_wkly_sales_df['Date'].astype(str)
            Rev_wkly_sales_df.drop_duplicates(subset='index_id', inplace=True)
        except Exception as e:
            print('check error-for duplicate rows')
            print(e.message)
            
        # 4 Create new columns
        try:   
            Rev_wkly_sales_df['Month']=pd.DatetimeIndex(Rev_wkly_sales_df['Date']).month
            Rev_wkly_sales_df['Year']=pd.DatetimeIndex(Rev_wkly_sales_df['Date']).year
            Rev_wkly_sales_df['Week']=pd.DatetimeIndex(Rev_wkly_sales_df['Date']).weekofyear
        except Exception as e:
            print('check error-for Appending Columns')
            print(e.message) 
                      
         #5 Drop any null rows   
            Rev_wkly_sales_df=Rev_wkly_sales_df.dropna()
        
        return Rev_wkly_sales_df

In [20]:
weekly_sales_df=clean_sales(Wkly_Sales_df)
weekly_sales_df.head()

,Store,Date,Weekly_Sales,Holiday_Flag,Temperature,Fuel_Price,CPI,Unemployment,Rev_Date,index_id,Month,Year,Week
0,1,2010-05-02,1643690.90,0,42.31,2.572,211.096358,8.106,2010-05-02,1-2010-05-02,5,2010,17
1,1,2010-12-02,1641957.44,1,38.51,2.548,211.242170,8.106,2010-12-02,1-2010-12-02,12,2010,48
2,1,2010-02-19,1611968.17,0,39.93,2.514,211.289143,8.106,2010-02-19,1-2010-02-19,2,2010,7
3,1,2010-02-26,1409727.59,0,46.63,2.561,211.319643,8.106,2010-02-26,1-2010-02-26,2,2010,8
4,1,2010-05-03,1554806.68,0,46.50,2.625,211.350143,8.106,2010-05-03,1-2010-05-03,5,2010,18

In [21]:
weekly_sales_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6435 entries, 0 to 6434
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Store         6435 non-null   int64
 1   Date          6435 non-null   datetime64[ns]
 2   Weekly_Sales  6435 non-null   float64
 3   Holiday_Flag  6435 non-null   int64
 4   Temperature   6435 non-null   float64
 5   Fuel_Price    6435 non-null   float64
 6   CPI           6435 non-null   float64
 7   Unemployment  6435 non-null   float64
 8   Rev_Date      6435 non-null   datetime64[ns]
 9   index_id      6435 non-null   object
 10  Month         6435 non-null   int64
 11  Year          6435 non-null   int64
 12  Week          6435 non-null   int64
dtypes: datetime64[ns](2), float64(5), int64(5), object(1)
memory usage: 703.8+ KB

In [22]:
features_df = pd.DataFrame(data=weekly_sales_df, columns = ['index_id', 'Store','Date','Temperature','Fuel_Price','CPI','Unemployment'])
features_df.head()

,index_id,Store,Date,Temperature,Fuel_Price,CPI,Unemployment
0,1-2010-05-02,1,2010-05-02,42.31,2.572,211.096358,8.106
1,1-2010-12-02,1,2010-12-02,38.51,2.548,211.242170,8.106
2,1-2010-02-19,1,2010-02-19,39.93,2.514,211.289143,8.106
3,1-2010-02-26,1,2010-02-26,46.63,2.561,211.319643,8.106
4,1-2010-05-03,1,2010-05-03,46.50,2.625,211.350143,8.106

In [32]:
Holidays_df = pd.DataFrame(data=weekly_sales_df, columns = ['Date','Holiday_Flag'])
Holidays_df = Holidays_df[Holidays_df.Holiday_Flag != 0]
Holidays_df.drop_duplicates(subset='Date', inplace=True)
Holidays_df.head()

         Date  Holiday_Flag
1  2010-12-02             1
31 2010-10-09             1
42 2010-11-26             1
47 2010-12-31             1
53 2011-11-02             1

In [15]:
db_string = f"postgres://postgres:{db_password}@127.0.0.1:5432/WMT_Sales_Data"
engine = create_engine(db_string)
weekly_sales_df.to_sql(name='Weekly_Sales', con=engine, if_exists='append',index=False)

In [23]:
features_df.to_sql(name='Features', con=engine, if_exists='append',index=False)

In [33]:
Holidays_df.to_sql(name='Holidays', con=engine, if_exists='append',index=False)

In [34]:
weekly_sales_df.to_csv (r'C:\Users\vick_\Desktop\Data Analytics Projects\final_project\WMT_Weekly_Sales_rev.csv', index = False, header=True)